<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 d-flex justify-content-center">List product</h1>
            <p class="lead d-flex justify-content-center">Sử dụng reactJS lấy dữ liệu nodeJS</p>
            <hr class="my-2">
        
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 mb-4">
                <div class="card text-left border border-dark">
                  <img class="card-img-top" src="https://cf.shopee.vn/file/61dba38a1f16873c72a61cb61f93bfa1" alt="">
                  <div class="card-body border border-top">
                    <h5 class="card-title float-left">Bút chì</h5>
                    <h5 class="card-text float-right">5000</h5>
                  </div>
                </div>
            </div>
            <div class="col-4 mb-4">
              <div class="card text-left border border-dark">
                <img class="card-img-top" src="https://cf.shopee.vn/file/61dba38a1f16873c72a61cb61f93bfa1" alt="">
                <div class="card-body border border-top">
                  <h5 class="card-title float-left">Bút chì</h5>
                  <h5 class="card-text float-right">5000</h5>
                </div>
              </div>
          </div>
          <div class="col-4 mb-4">
            <div class="card text-left border border-dark">
              <img class="card-img-top" src="https://cf.shopee.vn/file/61dba38a1f16873c72a61cb61f93bfa1" alt="">
              <div class="card-body border border-top">
                <h5 class="card-title float-left">Bút chì</h5>
                <h5 class="card-text float-right">5000</h5>
              </div>
            </div>
        </div>
        <div class="col-4 mb-4">
          <div class="card text-left border border-dark">
            <img class="card-img-top" src="https://cf.shopee.vn/file/61dba38a1f16873c72a61cb61f93bfa1" alt="">
            <div class="card-body border border-top">
              <h5 class="card-title float-left">Bút chì</h5>
              <h5 class="card-text float-right">5000</h5>
            </div>
          </div>
      </div>
      <div class="col-4 mb-4">
        <div class="card text-left border border-dark">
          <img class="card-img-top" src="https://cf.shopee.vn/file/61dba38a1f16873c72a61cb61f93bfa1" alt="">
          <div class="card-body border border-top">
            <h5 class="card-title float-left">Bút chì</h5>
            <h5 class="card-text float-right">5000</h5>
          </div>
        </div>
    </div>
            
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>